.second-hand {
    position: absolute;
    bottom: 40%;
    left: 50%;
    background-color: red;
    width: 3px;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
    transform-origin: 0 83.5%;
}