* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgb(37, 134, 194),
    rgb(8, 143, 216)
  );
}

.hand {
  position: absolute;
  bottom: 40%;
  left: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
